# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
# utf-8 charset and removing space at the end of the line
[*]
indent_size = 4
indent_style = space
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{js,css,html}]
indent_size = 4

[*.{json,yml}]
indent_size = 2

[*.go]
indent_size = 4
indent_style = tab

[Makefile]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.tf]
indent_size = 2
