[user]
	name = Mykhailo Lieibenson
	email = m.lieibenson@osram.com

[core]
	excludesfile = /Users/z0r1k/.gitignore_global

[merge]
    # Include summaries of merged commits in newly created merge commit messages
    log = true

[mergetool]
	keepBackup = true

[color]
    # Use colors in Git commands that are capable of colored output when
    # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
    ui = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f
[filter "lfs"]
    clean = git-lfs clean %f
    smudge = git-lfs smudge %f
    required = true

[filter "media"]
    clean = git-media-clean %f
    smudge = git-media-smudge %f

[alias]
    stash-create-pull-request = !sh -c 'stash pull-request $0'
    st = status
    tree = log --graph --decorate --pretty=oneline --abbrev-commit
    logdiff = log --all --decorate --pretty=oneline --abbrev-commit

[push]
    default = simple

[url "git@prod01-gitlab01.geeny.local:"]
    insteadOf = https://prod01-gitlab01.geeny.local/

[url "git@bitbucket.org:"]
	insteadOf = https://bitbucket.org/
